:root {
  --white: #ffffff;

  --black: #021001;

  --red: #ff6161;

  --jade-pri: #67c5d2;
  --jade-sec: #dbf2f5;

  --orange-pri: #ff9c66;
  --orange-sec: #ffecd1;

  --gray-100: #f3f4f5;
  --gray-200: #e6e7e8;
  --gray-300: #d6d9de;
  --gray-400: #bbbcc0;
  --gray-500: #909294;

  font-family: Pretendard;

  /* 스크롤바 비표시 */
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
* {
  font-family: Pretendard;
}
#root {
  width: 375px;
  height: 100svh;
  margin: 0 auto;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');
