:root {
  --white: #ffffff;

  --black: #021001;

  --red: #ff6161;

  --jade-pri: #67c5d2;
  --jade-sec: #dbf2f5;

  --orange-pri: #ff9c66;
  --orange-sec: #ffecd1;

  --gray-100: #f3f4f5;
  --gray-200: #e6e7e8;
  --gray-300: #d6d9de;
  --gray-400: #bbbcc0;
  --gray-500: #909294;

  font-family: Pretendard;
}
* {
  font-family: Pretendard;
}
#root {
  width: 375px;
  margin: 0 auto;
}

.secondaryButton {
  width: 335px;
  height: 56px;
  border-radius: 40px;
  background-color: var(--jade-pri);
  text-align: center;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');
